.info {
  text-align: center;
  margin-bottom: 1  0px;
  font-weight:600;
  font-size: 30px;
}
.info-detail{
  margin-bottom: 20px;
}
form {
  padding: 40px;
  background-color: whitesmoke;
  width: 40%;
  min-height: 200px;
}
.form-data {
    display: inline-grid;
    width: 100%;
  }
  label {
    margin-bottom: 10px;
    font-weight: 700;
    font: 20px;
  }
  .button-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  .button {
    background-color: #dfdedc;
    width: 135px;
    padding: 11px;
    border-radius: 10px;
  }
  input{
      width: 100%;
      margin-bottom: 20px;
      padding: 10px;
  }
  .login-content{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 550px;
  }
  .button:hover{
    background-color: #b3acac;
  }